* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

.nav-list-menu {
  display: flex;
  gap: 40px;
}

.nav-list-menu .menu {
  padding: 24px 0;
}
.nav-menu {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

div {
  display: flex;
}

.header .logo {
  font-size: 2rem;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-section {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
}

.list-item-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}


.nav-list .nav-list-item .list-item-link:hover,
.nav-list .nav-list-item .list-item-link:focus {
  color: #404bbf;
}

.address-content {
  font-style: normal;
}

.nav-content {
  list-style-type: none;
}

.address-list-item-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-list-item-link:hover,
.address-list-item-link:focus {
  color: #404bbf;
}

.contact-info a {
  margin-left: 20px; /* İletişim bilgileri arasında boşluk */
}

.hero {
  background-color: #2e2f42;
  list-style-type: none;
  text-align: center;
  padding: 60px 0;
}

.hero h2 {
  margin-bottom: 20px;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.btn {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.hero-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.5;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.features {
  padding: 60px 0;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  list-style-type: none;
  background-color: #f4f4fd;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team .team-list .team-member {
  background-color: #ffffff;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
}

.feature {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
}

.team {
  padding: 60px 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
}

.team-member {
  text-align: center;
}

.portfolio {
  padding: 60px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
}

.portfolio-item {
  border-bottom: 2px solid #ddd; /* Kartların alt kısmında kenarlık */
  padding: 10px;
  text-align: center;
}

.footer {
  background-color: #2e2f42;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #ddd; /* Footer üst kenarlığı */
}

.footer-logo-section {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
