* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}


img {
  display: block;
}

/*header*/

body {
  font-family: "Roboto", sans-serif;
  background-color:white;
}

.header-class {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-lmenu {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.nav-list-menu {
  display: flex;
  gap: 40px;
}

.nav-list-menu .menu-nav {
  padding: 24px 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.address-header .addres-list {
  display: flex;
  gap: 40px;
}

.addres-list {
  display: flex;
  gap: 40px;
}

.header-span {
  color: var(--navy-blue);
}

/* First Section */
.first-section {
  width: 1440px;
  height: 600px;
  padding: 188px 0;
}

.first-title {
  max-width: 496px;
}

.section-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}

/* Second Section */
.two-section {
  padding: 120px 0;
}

.section-two-li {
  width: calc((100% - 72px) / 4);
  list-style-type: none;
}

.two-section-title {
  margin-bottom: 8px;
}

.two-section-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* Third Section */
.section-third {
  padding: 120px 0;
}

.our-staff {
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.team-member {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.team-div {
  padding: 32px 0;
}

.our-best {
  text-align: center;
  margin-bottom: 8px;
}

.our-team-role {
  text-align: center;
}

/* Fourth Section */
.fourth-section {
  padding: 120px 0;
}

.our-portfolio {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 72px) / 4);
}

.fourth-div {
  margin-bottom: 8px;
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

.list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* Footer */
footer {
  background: var(--navy-blue);
  width: 1440px;
  height: 312px;
}

.footer-title {
  padding: 100px 0;
}
.logo-footer-span {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}
